:root {
  --primary-color: #00614f;
  --background-color: #212529;
  --secondary-color: #30A8A7;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
  color: white;
  background: var(--background-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-width: 300px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  //border: 2px solid blueviolet;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #292e33;
  border: 2px solid;
  border-color: black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link-url {
  color: var(--secondary-color);
  text-decoration: none;
}

.link-url:hover {
    text-decoration-line: underline;
}



#url {
  white-space: nowrap;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  font-size: larger;
}

#stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  //border: 2px solid black;
}

#score {
  font-weight: bold;
}

#number-of-requests {
  font-weight: bold;
}

#source-of-data {
  font-weight: italic;
  font-size: 0.8rem;
}

#ecoindex-result {
  font-size: larger;
}

#settings {
  display: flex;
  flex-direction: row;
  gap: 4px;
}